<div class="top">
  <br>
  <br>
  <h5>ISO9001対応 技術文書管理プラットフォーム</h5>
  <h1>Tech Document Hub</h1>
  <a href="#introduction" class="btn btn-warning btn-sm">アプリ説明</a>
</div>

<div class="container">
  <br>
  <br>

</div>

<div class="top-container">
  <%= image_tag 'books.jpg' %>
</div>

<div class="container-top" id="introduction">
  <strong>製造業の技術文書プラットフォーム「Tech Document Hub」</strong>
  <p>社内で使用する文書管理ツールです。重要な技術文書の管理をシステム化することで、３つのメリットがあります。</p>
  <ul>
    <li>品質に関する国際規格 ISO9001の審査に必要な技術文書を簡単に取得できる。</li>
    <li>デザインレビューを組み込んだシステムにより、技術文書とレビューを関連付けて管理できる。</li>
    <li>アプリ上で技術文書を投稿、閲覧できる。メールによる情報共有の抜け漏れが防止できる。</li>
  </ul>
  <br>
  <strong>アプリの費用対効果</strong>
  <p>以下の「アプリの使い方」で説明する退屈な文書管理を、現状では人間が、メールとネットワークフォルダで管理しています。</p>
  <p>システム化することにより、該当業務の人手が必要な割合を50%以上削減できる、と考えられます。</p>
  <br>
  <strong>アプリの使い方</strong>
  <p>登録した文書をレビューで審査。レビュー担当者が承認するか判定する。</p>
  <p>レビューの編集ページを開いた場合、レビュー担当者だけに承認/未承認の編集欄が表示される。</p>
  <div class="how_to_use">
    <%= image_tag 'Photo_review.jpg' %>
  </div>
  <br>
  <p>文書は、対象製品と文書タイプを記録してpdfで登録。対象製品と文書タイプは、後で必要なので必ず入力。</p>
  <div class="how_to_use">
    <%= image_tag 'Photo_new_document.jpg' %>
  </div>
  <br>
  <p>デザインレビュー３が完了し製品の製造が始まったら、現況を"製造中"にする。</p>
  <p>設計変更になった場合は もう一度、別製品としてレビューをするので、現況を"製造中止"にする。</p>
  <div class="how_to_use">
    <%= image_tag 'Photo_product.jpg' %>
  </div>
  <br>
  <p>品質規格(ISO9001)の審査の際は、<strong>該当工場で製造中の製品</strong>について、一部の技術文書を提出する必要がある。</p>
  <p>(例)深圳工場についてISO文書を取得する時の手順。製造中の製品のみ、必要な技術文書のpdfをダウンロードできる。</p>
  <ol>
    <li>製品一覧ページで、製造拠点に”深圳”を選択して検索</li>
    <li>ISO文書ボタンをクリック</li>
    <li>文書一覧ページに移動し、ISO審査に必要な文書のみが抽出される。一括ダウンロードをクリック。</li>
    <li>zipファイルがダウンロードされる。それを解凍すれば、抽出した文書のpdfが一括で取得できる。</li>
  </ol>
  <div class="how_to_use">
    <%= image_tag 'Photo_ISO.jpg' %>
  </div>
  <div class="how_to_use">
    <%= image_tag 'Photo_download.jpg' %>
  </div>
</div>
