<h4>ユーザー情報詳細</h4>

<strong>ユーザー名：</strong>
<p><%= @user.name %> <%= "(#{@user.mr_ms})" unless @user.mr_ms == nil %></p>
<strong>メールアドレス：</strong>
<p><%= @user.email %></p>
<strong>管理者権限：</strong>
<p><%= @user.admin %></p>
<strong>社員番号：</strong>
<p><%= @user.employee_number %></p>
<strong>所属部署：</strong>
<p><%= link_to "#{@user.member_departments[0][:name]}", department_path(@user.member_departments[0].id) unless @user.member_departments.count==0 %></p>
<strong>コメント：</strong>
<p><%= @user.comment %></p>
<strong>参加プロジェクト：</strong>
<% @user.project_user_projects.each do |project| %>
  <p><%= link_to "#{project.name}", project_path(project.id) %></p>
<% end %>
<br>
<strong>判定担当のレビュー：</strong>
<% @user.reviewer_reviews.each do |review| %>
  <p><%= link_to "#{review.product.name}_#{review.stage}", review_path(review.id) %></p>
<% end %>
<br>
<br>
<%= link_to '編集', edit_user_registration_path, class: "btn btn-warning btn-sm" %>
<%= link_to '管理者画面', rails_admin_path, class: "btn btn-warning btn-sm" if current_user.admin == true %>

<h4>作成したドキュメント</h4>
<% @user.documents.each do |document| %>
  <p><strong><%= link_to "#{document.title}", document_path(document.id) %></strong></p>
  <p>作成日：<%= document.created_at.strftime("%F") %></p>
  <p>承認/未承認：<%= document.authorize %></p>
  <p>コメント：<%= document.content %></p>
<% end %>
