<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @department.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<p>
  <strong>Members:</strong>
  <% @department.members.each do |member| %>
    <% user = member.user %>
    <%= link_to "#{user.name}", user_path(user.id) %>
    <%= form_with scope: :member, method: :delete, url: member_path(member), local: true do |form| %>
      <%= form.submit '削除'%>
    <% end %>
  <% end %>
</p>

<div class="new-department-member">
  <%= form_with scope: :member, url: members_path, local: true do |form| %>
    <%= form.select :user_id, options_for_select(@users.map{|u| [u.name, u.id]}), prompt: '新規メンバーを選択' %>
    <%= form.hidden_field :department_id, value: @department.id %>
    <span class='input-group-append'>
      <button type="submit" class="btn btn-info btn-flat">招待</button>
    </span>
  <% end %>
</div>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
