<h4>文書詳細</h4>

<div class="container-index">
  <div class="container-show">

    <main class="department-main">
      <p>
        <strong>対象製品:</strong>
        <% if @document.products.count == 0 %>
          <span>未定</span>
        <% else %>
          <%= link_to "#{@document.product.name}", product_path(@document.product.id) %>
        <% end %>
      </p>

      <p>
        <strong>文書タイプ:</strong>
        <%= @document.category %>
      </p>

      <p>
        <strong>作成者:</strong>
        <%= @document.user.name %>
      </p>

      <p>
        <strong>作成日:</strong>
        <%= @document.created_at.strftime("%F") %>
      </p>

      <p>
        <strong>承認/未承認:</strong>
        <%= @document.authorize %>
      </p>

      <p>
        <strong>タイトル:</strong>
        <%= @document.title %>
        <% if current_user.member_departments[0].name == ("管理課" || "企画課" || "営業課" || "製造課" || "開発課") %>
          <%= link_to '(pdf)', @document.filepath.url %>
        <% else %>
          <%= link_to '(pdf)', document_path(@document.id), data: { confirm: '所属部署が”所属未定”と”その他”のユーザーはpdf閲覧ができません。' }   %>
        <% end %>
      </p>

      <p>
        <strong>コンテンツ:</strong>
        <%= @document.content %>
      </p>

      <%= link_to '編集', edit_document_path(@document), class: "btn btn-warning btn-sm" %> |
      <%= link_to '文書一覧', documents_path, class: "btn btn-warning btn-sm" %>
    </main>

    <aside class="department-aside">

      <strong>製品名：<%= @document.product.name %>の<%= @document.category %>一覧</strong>
      <% Document.where(product_id: @document.product.id).where(category: @document.category).each do |document| %>
        <p>タイトル：<%= link_to "#{document.title}", document_path(document.id) %></p>
        <p>作成日：<%= document.created_at.strftime("%F") %></p>
      <% end %>
    </aside>
  </div>
</div>
