<p id="notice"><%= notice %></p>

<h4>プロジェクト一覧</h4>
<div class="container-index">

  <%= link_to '新規作成', new_project_path, class: "btn btn-warning btn-sm" %>

  <%= search_form_for @q do |f| %>
    <%= f.label :name, "プロジェクト名" %>
    <%= f.search_field :name_cont %>

    <%= f.label :status, "現況" %>
    <%= f.select :status_eq, Project.statuses.to_a, {include_blank: '選択なし'} %>

    <%= f.submit "検索" %>
  <% end %>

  <table border="0" CELLPADDING=5 CELLSPACING=2 style='border-collapse: separate; border-spacing: 5px;' >
    <thead>
      <tr>
        <th>プロジェクト名</th>
        <th>担当製品名<th>
        <th>現況</th>
        <th>作成日</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= link_to "#{project.product.name}", product_path(project.product.id) %></td>
          <td colspan="1"></td>
          <td><%= project.status %></td>
          <td><%= project.created_at.strftime("%Y年%m月%d日") %></td>
          <td><%= link_to '詳細', project %></td>
          <td><%= link_to '編集', edit_project_path(project) %></td>
          <td><%= link_to '削除', project, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin == true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
