<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>
<p>要ログイン、ログイン後のファーストビュー</p>


<div class="container mt-5">
  <div class="row">
    <strong class="sidebar">
      管理者メッセージ
    </strong>
    <div class="col-3 sidebar">
      <button type="button" class="btn btn-warning w-150" data-toggle="modal" data-target="#exampleModal">
        メッセージ編集
      </button>
    </div>
    <div class="col-12 sidebar recipes">
      <%= render 'adminmsg', users: @users %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <strong>レビュー進捗一覧</strong>
    <div class="col-12 sidebar recipes">
      <div class="card mb-1">
        <div class="card-body">
          <% Product.where.not(status: "製造中止").each do |product| %>
            <% reviews = product.reviews.order(created_at: :desc).limit(2) %>
            <p>
              <% unless reviews.count == 0 %>
                  <strong><%= link_to "#{product.name}", product_path(product.id) %></strong>,
                <% reviews.each do |review| %>
                  <%= link_to "#{review.stage}", review_path(review.id) %>
                  <%= "#{review.judge}" %> @ <%= "#{review.date_on.strftime("%Y年%m月%d日")}" unless review.date_on == nil %>,
                <% end %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <strong class="sidebar">
      担当プロジェクト一覧
    </strong>
    <div class="col-12 sidebar recipes">
      <% current_user.project_user_projects.each do |project| %>
        <% review = project.reviews.where(judge: "未承認") %>
          <% unless review.count == 0 %>
            <div class="card mb-1">
              <div class="card-body">
                <div class="card-text">
                    <%= link_to "#{project.name}", project_path(project.id) %>,
                    <%= link_to "#{review[0].stage}", review_path(review[0].id) %> (プロジェクトメンバー) @ <%= "#{review[0].date_on.strftime("%Y年%m月%d日")}" unless review[0].date_on == nil %>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-12 sidebar recipes">
      <% reviews = current_user.reviewer_reviews.where(judge: "未承認") %>
        <% reviews.each do |review| %>
          <div class="card mb-1">
            <div class="card-body">
              <div class="card-text">
                <%= link_to "#{review.project.name}", project_path(review.project.id) %>,
                <%= link_to "#{review.stage}", review_path(review.id) %> (レビュー判定者) @ <%= "#{review.date_on.strftime("%Y年%m月%d日")}" unless review.date_on == nil %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

<!-- モーダル -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">メッセージ投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@user, remote: true, method: :patch) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :admin_message, "管理者メッセージ" %>
            <%= f.text_area :admin_message, class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "投稿する", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
