<p id="notice"><%= notice %></p>

<p>
  <strong>製品名:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>製品カテゴリー:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>概要:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>現況:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>製造拠点:</strong>
  <%= @product.location %>
</p>

<p>
  <strong>レビュー:</strong>
  <% @product.reviews.each do |review| %>
    <%= link_to "#{review.stage}", review_path(review.id) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
