<p id="notice"><%= notice %></p>

<p>
  <strong>対象の製品:</strong>
  <%= @review.product.name %>
</p>

<p>
  <strong>担当プロジェクト:</strong>
  <%= @review.project.name %>
</p>

<p>
  <strong>Requester:</strong>
  <%= User.find(@review.requester).name %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @review.stage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Former review:</strong>
  <%= @review.former_review %>
</p>

<p>
  <strong>Date on:</strong>
  <%= @review.date_on %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @review.deadline %>
</p>

<p>
  <strong>Reviewer:</strong>
  <% @review.reviewers.each do |reviewer| %>
    <% user = reviewer.user%>
    <span><%= "#{user.name}" %><span>
    <span>(<%= link_to "#{user.name}", department_path(user.member_departments[0].id) %>)</span>
    <%= form_with scope: :reviewer, method: :delete, url: reviewer_path(reviewer), local: true do |form| %>
      <%= form.submit '削除' %>
    <% end %>
  <% end %>
</p>

<div class="new-project-member">
  <%= form_with scope: :reviewer, url: reviewers_path, local: true do |form| %>
    <%= form.select :user_id, options_for_select(@users.map{|u| [u.name, u.id]}), prompt: 'レビュー担当者を選択' %>
    <%= form.hidden_field :review_id, value: @review.id %>
    <span class='input-group-append'>
      <button type="submit" class="btn btn-info btn-flat">追加</button>
    </span>
  <% end %>
</div>

<p>
  <strong>Judge:</strong>
  <%= @review.judge %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
