<!DOCTYPE html>
<html>
  <head>
    <title>TechDocumentHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-title navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-brand">
        <% if user_signed_in? %>
          <%= link_to "Document Hub", homes_path, class: "logo" %>
        <% else %>
          <%= link_to "Document Hub", root_path, class: "logo" %>
        <% end %>
      </div>
      <div class="navbar-link">
        <% if user_signed_in? %>
          <%= link_to "部署一覧", departments_path, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "プロジェクト一覧", projects_path, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "DR一覧", reviews_path, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "製品一覧", products_path, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "文書一覧", documents_path, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "プロフィール", user_path(current_user.id), class: 'btn btn-secondary btn-sm' %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-secondary btn-sm' %>
        <% else %>
          <%= link_to 'ゲストログイン', tops_guest_sign_in_path, method: :post, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-secondary btn-sm' %>
        <% end %>
      </div>
    </div>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
  <footer> ©️ 2021 O541, inc.</footer>
</html>
